<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<span class="gray">This project was created in the course SoftGroup</span>
			</div>
		</div>
	</div>
</footer>